#container
  #center_column
    .logo_box
      %a{href: "/"}
        = image_tag "PHPlogo.png"
    #center_column_headng
    #navbar
      %a{href: "/about"} ABOUT
      %a{href: "/portfolio"} PORTFOLIO
    #page_title_container
      %h1#page_title patrick holloway photography

    #main_content
      #galleries
        %h1 PORTFOLIO : :
        #weddings.gallerylink
          %a{href: "#"}
            = image_tag "_MG_0007.jpg"
          %h3 Bleep
        #business.gallerylink
          %a{href: "#"}
            = image_tag "_MG_0010.jpg"
          %h3 Blop
        #musicians.gallerylink
          %a{href: "#"}
            = image_tag "_MG_0098.jpg"
          %h3 Bloop
        #fineart.gallerylink
          %a{href: "#"}
            = image_tag "_MG_0057.jpg"
          %h3 Blorp
  #footer
    ©2012 Patrick Holloway Photography • Medford MA 02155 • 781.960.3127 • patrickjholloway@gmail.com
